attrs==23.2.0
blinker==1.8.2
brother-ql==0.9.4
certifi==2024.6.2
charset-normalizer==3.3.2
click==8.1.7
eventbrite==3.3.5
Flask==3.0.3
Flask-Cors==4.0.1
future==1.0.0
idna==3.7
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
packbits==0.6
pillow==10.4.0
pyusb==1.2.1
requests==2.32.3
urllib3==2.2.2
Werkzeug==3.0.3
netifaces==0.11.0   